.amp-sidebar-btn {
    width: 20px;
    height: 15px;
    padding: 0;
    display: flex;
    align-items: flex-end;
    color: #fff;
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
        border: none;
        outline: none;
        box-shadow: none;
        text-shadow: none;
    }

    span {
        display: flex;
        width: 20px;
        height: 2px;
        background-color: $dark-gray-1;
        position: relative;

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: $dark-gray-1;
        }

        &:before {
            top: -14px;
        }

        &:after {
            top: -7px;
        }
    }

    @include breakpoint(desktop-min) {
        display: none;
    }
}