#block-newsportal-amp-main-menu {
    display: none;
    @include breakpoint(desktop-min) {
        display: block;
    }
}

.header {
    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;

            @include breakpoint(ipad-max) {
                flex-flow: column;
            }

            li + li {
                @include breakpoint(desktop-min) {
                    padding-left: 1rem;
                }
            }

            li {
                @include breakpoint(ipad-max) {
                    padding: 1rem;
                }
            }
        }
    }
}

.site-logo {
    >amp-img {
        @include breakpoint(portrait-mobile-min) {
            width: 80% !important;
        }
    }
}

.navbar-toggler {
    display: none;
}