.lists {
    &-unstyle {
        list-style: none;
    }

    &-wrap {
        display: flex;
        flex-wrap: wrap;
    }
}

.text-label {
    position: absolute;
    background-color: #fff;
    padding: 0.5rem 1.07rem;
    z-index: 1;
    
    @include breakpoint(mobile-max) {
        padding: 8px 15px 6px;    
    }
    
    &--right {
        right: 1.42rem;
    }
    
    &--left {
        left: 1.42rem;
        bottom: 1.14rem;

        @include breakpoint(mobile-max) {
            left: 1.07rem;    
        }
    }
    
    &-text {
        font-family: $secondary-font;
        font-size: 1.07rem;
        font-weight: 700;
        margin: 0;

        &-lg {
            font-size: 2rem;
            
            @include breakpoint(mobile-max) {
                font-size: 1.07rem;
            }
        }
    }

}

.common-news-lists {
    justify-content: space-between;
    
    &__title {
        font-weight: 600;
        margin-top: 18px;
    }

    &__desc,
    &__title {
        @include breakpoint(mobile-max) {
            font-size: 14px;
        }
    }

    &_img-box {
        position: relative;
    }

    &-items {
        width: 49%;
        
        @include breakpoint(mobile-max) {
            width: 100%;
        }
        
        a {
            color: #000000;
            display: inline-block;

            &:hover,
            &:focus {
                color: black;
            }

            span {
                display: block;
            }
        }
    }
    
    li+li {
        margin-top: 1.99rem;
    }
}


.text {
    &-blue {
        color: $dark-blue;
    }
    
    &-red {
        color: $dark-red;
    }
    
    &-purple {
        color: $purple-1;
    }
    
    &-green {
        color: $green;
    }
}

.bg {
    
    &-red {
        color: #fff;
        background-color: $base-color;
    }
    
    &-purple {
        color: #fff;
        background-color: $purple-2;
    }

    &-blue {
        color: #fff;
        background-color: $blue;
    }
}