@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k0d33o');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k0d33o#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?k0d33o') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?k0d33o') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?k0d33o##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-footer-logo {
  &:before {
    content: $icon-footer-logo;
  }
}

.icon-footer-logo1 {
  &:before {
    content: $icon-footer-logo1;
  }
}

.icon-footer-logo2 {
  &:before {
    content: $icon-footer-logo2;
  }
}

.icon-footer-logo3 {
  &:before {
    content: $icon-footer-logo3;
  }
}

.icon-footer-logo4 {
  &:before {
    content: $icon-footer-logo4;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-hamburger-menu {
  &:before {
    content: $icon-hamburger-menu;
  }
}
