// font-family
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Lato', sans-serif;

// color
$base-color: #f22929;
$dark-red: #d3373c;
$blue: #2944f2;
$dark-blue: #3b5998;
$purple-1: #c823d4;
$purple-2: #b029f2;
$green: #109858;
$dark-gray-1: #6a6a6a;
$light-gray-1: #e4e4e4;

// font path
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-footer-logo: "\e902";
$icon-footer-logo1: "\e903";
$icon-footer-logo2: "\e904";
$icon-footer-logo3: "\e905";
$icon-footer-logo4: "\e906";
$icon-search: "\e900";
$icon-hamburger-menu: "\e901";

// swiper js
$themeColor: #007aff !default;
$colors: (
  'white': #ffffff,
  'black': #000000,
) !default;