ul {
  list-style: none;
  padding: 0;
}

p,
ul {
  margin: 0;
}

a {
  color: black;
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}
