.main {
    margin-top: 29px;
}

// top-news-carousel
.top-news-carousel {
    .swiper-slide {
        position: relative;
    }

    &-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        @include background-color-rgba($base-color, 0.7);
        padding: 1.42rem 1.85rem 0.82rem 2.85rem;

        &__title {
            color: #fff;
            font-size: 1.14rem;
            font-weight: 700;
            margin: 0;
        }
    
        &__desc {
            color: #fff;
            margin: 0;
        }
    }

    .text-label {
        top: -4.64rem;

        &--right {
            padding: 0.6rem 1.07rem;
        }
    }
}


.featured-news-lists {
    justify-content: space-between;
    
    .common-news-lists {
        width: 100%;

        li {
            &:first-child {
                width: 100%;
                margin-bottom: 17px;
            }
            
            &:nth-child(2),
            &:nth-child(3) {
                margin-top: 0;
            
            }

            &:nth-child(3) {
                @include breakpoint(mobile-max) {
                    margin-top: 15px;
                }
            }
        }
    }
}

// sidebar
.sidebar .block {
    background-color: #ffff !important;
    border: none;
    padding: 0;
}

// currency-value-lists
.currency-value-lists {
    border: 1px solid #e4e4e4;
    
    li {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.39rem 0.92rem 0.39rem 0.53rem;
        
        &:first-child {
            padding: 0.5rem 0.53rem 0.5rem 0.53rem;
        }
    }
    
    li + li {
        border-top: 1px solid #e4e4e4;
    }
    
    span {
        font-size: 0.78rem;
    }
}

.country-name {
    display: flex;
    align-items: center;
    
    span {
        display: inline-block;
        margin-left: 0.57rem;
    }
}

.currency-value {
    width: 55%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
// currency-value-lists end

// related-news
.related-news {
    border: 1px solid $light-gray-1;
    margin-top: 1.5rem;
    padding: 1rem 1rem 0.96rem 1rem;
    
    &-title {
        color: $dark-gray-1;
        font-size: 1.57rem !important;
        font-weight: 700;
        border-bottom: 1px solid $light-gray-1 !important;
        padding-bottom: 0.5rem !important;
        margin: 0 !important;
        text-transform: uppercase;
        text-shadow: none !important;
    }
    
    &-block {
        margin-top: 1.5rem;
        justify-content: space-between;
    }

    &-img {
        width: 41%;
    }

    &-text {
        width: 54%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    
    &-publish-title,
    &-publish-date {
        font-size: 0.85rem;
        margin: 0;
    }
    
    &-publish-title {
        font-weight: 700;
        margin-top: 1.64rem;

        @include breakpoint(desktop-max) {
            margin-top: 1.07rem;
        }
    }
    
    &-read-more {
        color: $dark-gray-1;
        font-size: 0.92rem;
        font-weight: 600;
        text-transform: capitalize;
        display: block;
        text-align: center;
        margin-top: 1.46rem;
        padding-top: 1.28rem;
        border-top: 1px solid $light-gray-1;
        @include transition();

        &:hover,
        &:focus {
            color: $base-color;
        }
    }
}

// article category
.article-category {
    border-top: 1px solid $light-gray-1;
    border-bottom: 1px solid $light-gray-1;
    padding: 2.42rem 0;
    margin-top: 1.71rem;
    
    &__img-box {
        position: relative;
        
        .text-label {
            padding-right: 4.21rem;
        }
    }

    .row {
        >div + div {
            @include breakpoint(mobile-max) {
                margin-top: 15px;
            }
        } 
    }

    &-lists {
        margin-top: 1.64rem;
        
        li {
            width: 100%;
            padding-left: 0.78rem;
            
            
            a {
                color: black;
                font-size: 0.92rem;
                font-weight: 500;
                @include transition();
                display: flex;
                align-items: center;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    left: -0.78rem;
                    width: 5px;
                    height: 2px;
                    background-color: #000;
                }
                
                &:hover,
                &:focus {
                    color: $base-color;

                    &:before {
                        background-color: $base-color;
                    }
                }
            }
        }
        
        li + li {
            margin-top: 0.78rem;
        }
    }
}

// ad
#block-adblock {
    width: 100%;
}

.ad {
    &-wrap {
        padding: 3.5rem 0 4.64rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-left {
        width: 64.6%;

        @include breakpoint(mobile-max) {
            width: 100%;
        }
    }
    
    &-right {
        width: 24%;

        @include breakpoint(mobile-max) {
            width: 50%;
            margin-top: 10px;
        }
    }
}