{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
  <div id="page">
    <header class="header">
      {% block head %}
        {% if page.secondary_menu or page.top_header or page.top_header_form %}
          <nav{{ navbar_top_attributes }} class="container">
              {{ page.secondary_menu }}
              {{ page.top_header }}
              {% if page.top_header_form %}
                <div class="form-inline navbar-form">
                  {{ page.top_header_form }}
                </div>
              {% endif %}
          </nav>
        {% endif %}
        <nav{{ navbar_attributes }} class="container">
            {{ page.header }}
            {% if page.primary_menu or page.header_form %}
              <div class="navbar-collapse">
              <button class="amp-sidebar-btn" type="button" on="tap:sidebar"><span></span></button>
                {{ page.primary_menu }}
                {% if page.header_form %}
                  <div class="form-inline navbar-form">
                    {{ page.header_form }}
                  </div>
                {% endif %}
	          </div>
            {% endif %}
            {% if sidebar_collapse %}
              <button class="navbar-toggler navbar-toggler-left" type="button"></button>
            {% endif %}
        </nav>
      {% endblock %}
    </header>
    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="container section">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}
    {% if page.featured_top %}
      {% block featured %}
        <div class="featured-top">
          <aside class="featured-top__inner container">
            {{ page.featured_top }}
          </aside>
        </div>
      {% endblock %}
    {% endif %}
    <div class="main-wrapper">
      {% block content %}
        <div class="container">
          {{ page.breadcrumb }}
          <main{{ content_attributes }}> 
            <section class="section">
              {{ page.content }}
            </section>
          </main>
          {% if page.homepage_content or page.homepage_sidebar %}
          <main class="home-page">
            {% if page.homepage_content %}
              <section class="home-page__main">
                {{ page.homepage_content }}
              </section>
            {% endif %}
            {% if page.homepage_sidebar %}
              <aside class="home-page__sidebar">
                {{ page.homepage_sidebar }}
              </aside>
            {% endif %}
          </main>
          {% endif %}
          {% if page.sidebar_first %}
            <aside class="section">
              {{ page.sidebar_first }}
            </aside>
          {% endif %}
          {% if page.sidebar_second %}
            <aside class="section">
              {{ page.sidebar_second }}
            </aside>
          {% endif %}
        </div>
      {% endblock %}
    </div>
    {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
      <div class="featured-bottom">
        <aside class="container">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
        </aside>
      </div>
    {% endif %}
    <footer class="site-footer">
      {% block footer %}
        <div class="container">
          {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
            <div class="site-footer__top clearfix">
              {{ page.footer_first }}
              {{ page.footer_second }}
              {{ page.footer_third }}
              {{ page.footer_fourth }}
            </div>
          {% endif %}
          {% if page.footer_fifth %}
            <div class="site-footer__bottom">
              {{ page.footer_fifth }}
            </div>
          {% endif %}
        </div>
        {{ page.footer }}
      {% endblock %}
    </footer>
  </div>
</div>
