#navbar-main {
    background-color: transparent !important;
    padding: 0;
}

.nav-link {
    color: black;
    font-size: 1.07rem;
    font-weight: 600;
    padding: 0;
    @include transition();

    &:hover,
    &:focus  {
        color: $base-color;
    }
}

.navbar-expand-lg>.container {
    padding-left: 15px;
    padding-right: 15px;
}