html {
    font-size: 14px;
}

body {
    font-size: 1rem;
    font-family: $primary-font;
    font-weight: 400
}

ul {
    padding: 0;
}

p,
ul {
    margin: 0;
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}