.site-footer {
    padding: 0;
    background: transparent;
}

.site-footer .block {
    padding: 0;
    border: none;
    margin: 0;
}

.site-footer .content ol:not(.menu), 
.site-footer .content ul:not(.menu) {
    padding-left: 0;
}

.footer-links-block {
    padding: 1.46rem 0;
    background-color: #262729;
}

.footer-links {
    justify-content: center;

    li {
        a {
            color: #fff !important;
            font-size: 0.78rem;
            @include transition();
        
            &:hover,
            &:focus {
                color: $base-color !important;
            }
        }
    }
    
    li + li {
        padding-left: 0.78rem;
    }
}

.copyright-block {
    text-align: center;
    padding: 2.47rem 0 2.21rem 0;
    background-color: #323336;
    
    @include breakpoint(mobile-max) {
        padding: 22px 10px 23px;
    }

    &-text {
        font-size: 0.71rem;
        color: #fff;
    }
    
    ul {
        justify-content: center;
        padding: 1.99rem 0 0 0;
        
        @include breakpoint(mobile-max) {
            padding-top: 0;
        }

        li {

            a {
                color: rgba(255, 255, 255, 0.38) !important;
                @include transition();
            
                &:hover,
                &:focus {
                    color: #fff !important;
                }
            }
            
            @include breakpoint(mobile-max) {
                padding-top: 4%;
            }

            @include breakpoint(portrait-mobile-min) {
                width: 48%;
            }

            &:nth-child(2n) {
                @include breakpoint(portrait-mobile-min) {
                    padding-left: 4%
                }
            }
        }
    }
    
    li + li {
        padding-left: 39px;

        @include breakpoint(portrait-mobile-min) {
            padding-left: 0;
        }
    }
}
